@page "/counter"
@using Mortgage_Calculator

<PageTitle>Mortgage Calculator</PageTitle>

<h2>Mortgage Calculator</h2>
<nav>
    <div class="topnav">
        <a class="active" @onclick="() => calcOption = 1">Calculate mortgage</a>
        &nbsp
        <a class="active" @onclick="() => calcOption = 2">Compare mortgages</a>
    </div>
    <br />
</nav>
@if (calcOption == 1)
{
    <div title="Single mortgage form">
        <h5>Single mortgage</h5>
        <br />

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect selection="mTypeSelect"></MortgageTypeSelect>

        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <button class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </div>

    <div title="Results display">
        @if (resultSet?.PaymentItems?.Count > 0)//Results output
        {
            <br />
            <h5>Mortgage calculation</h5>
            //<Graphtest22 resultSet="resultSet"></Graphtest22>
            <p title="Total repayment amount">Total Amount:  £@resultSet.TotalAmount.ToString("N2")</p>

            <p>Monthly repayment to pay: £@resultSet.MonthlyRepayments[0].ToString("N2") </p>//Display one month's repayment value

            if (resultSet.MonthlyRepayments != null && resultSet.MonthlyRepayments.Count > 0)
            {
                <p>Total repayment months: @resultSet.MonthlyRepayments.Count</p>
            }
            else
            {
                <p>0 months</p>
            }

            <details>
                <summary Title: Annual remaining amount>
                    Remaining amount
                </summary>
                <ul>
                    @foreach (PaymentItem item in resultSet.PaymentItems)
                    {
                        if (item.Date.Month == 12)//Check if the month is December
                        {
                            <li>@item.Date.ToString("MM/yyyy") - £@item.RemainingAmount.ToString("N2")</li>
                        }
                    }
                </ul>

            </details>


            <br />

            <div style="border: 2px solid yellow; padding: 4px;">
                <br />
                <p>Warning: @resultSet.WarningIndicator</p>
            </div>
        }
    </div>

}

@if (calcOption == 2)
{
    <div title="Comparison mortgages form">
        <h5>Compare mortgages</h5>
        <br /><br />
        <h6>First mortgage</h6>

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect selection="mTypeSelect"></MortgageTypeSelect>

        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <h6>Second mortgage</h6>

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInputCompare.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInputCompare.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect selection="mTypeSelectCompare"></MortgageTypeSelect>

        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInputCompare.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInputCompare.Deposit"></InputNumber>
        <br /><br />

        <button class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </div>

    <div title="Results display">
        @if (resultSet?.PaymentItems?.Count > 0)//First results output
        {
            <br />
            <h6>First mortgage results</h6>

            <p title="Total repayment amount">Total Amount:  £@resultSet.TotalAmount.ToString("N2")</p>

            if (resultSet.MonthlyRepayments != null && resultSet.MonthlyRepayments.Count > 0)
            {
                <p>Total repayment months: @resultSet.MonthlyRepayments.Count</p>
            }
            else
            {
                <p>0 months</p>
            }

            <details>
                <summary title="List of monthly repayments">
                    Monthly Repayments
                </summary>
                <ul>
                    @foreach (PaymentItem paymentItem in resultSet.PaymentItems)
                    {
                        <li>@paymentItem.Date.ToString("MM/yyyy"): @paymentItem.Amount.ToString("N2")</li>
                    }
                </ul>
            </details>
            <br />

            <div style="border: 2px solid yellow; padding: 4px;">
                <br />
                <p>Warning: @resultSet.WarningIndicator</p>
            </div>
        }

        <br />
        @if (resultSetCompare?.PaymentItems?.Count > 0)//Second results output

        {
            <h6>Second mortgage results</h6>

            <p title="Total repayment amount">Total Amount:  £@resultSetCompare.TotalAmount.ToString("N2")</p>


            if (resultSetCompare.MonthlyRepayments != null && resultSetCompare.MonthlyRepayments.Count > 0)
            {
                <p>Total repayment months: @resultSetCompare.MonthlyRepayments.Count</p>
            }
            else
            {
                <p>0 months</p>
            }

            <details>
                <summary title="List of monthly repayments">
                    Monthly Repayments
                </summary>
                <ul>
                    @foreach (PaymentItem paymentItem in resultSetCompare.PaymentItems)
                    {
                        <li>@paymentItem.Date.ToString("MM/yyyy"): @paymentItem.Amount.ToString("N2")</li>
                    }
                </ul>
            </details>
            <br />

            <div style="border: 2px solid yellow; padding: 4px;">
                <br />
                <p>Warning: @resultSetCompare.WarningIndicator</p>
            </div>
        }
    </div>
}

@code
{

    private int calcOption = 0;
    private UserInput userInput = new();
    private UserInput userInputCompare = new();
    private MortgageType mTypeSelect = MortgageType.Standard;
    private MortgageType mTypeSelectCompare = MortgageType.Standard;
    private Results resultSet = new();
    private Results resultSetCompare = new();
    private Graph graph = new();

    private void DisplayResults()
    {
        if (calcOption == 1)
        {
            //do calc 1
            resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
        }
        else
        {
            //do calc 2
            resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
            resultSetCompare = LogicMethod.CalculateRepayments(userInputCompare, mTypeSelectCompare);
        }
        //currentCount++;
    }
}

