@page "/counter"
@using Mortgage_Calculator

<PageTitle>Mortgage Calculator</PageTitle>

<h2>Mortgage Calculator</h2>
<nav>
    <div class="topnav">
        <a class="active" @onclick="() => calcOption = 1">Calculate mortgage</a>
        &nbsp
        <a class="active" @onclick="() => calcOption = 2">Calculate and compare mortgages</a>
    </div>
    <br />
</nav>
@if (calcOption == 1)
{
    <p>Single mortgage</p>

    <form title="Single mortgage form">
        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect selection="mTypeSelect"></MortgageTypeSelect>

        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <button class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </form>

    <div title="Display result">
        @if (resultSet?.PaymentItems?.Count > 0)//Results output
        {
            <h3>Calculation results</h3>
            <GraphTest ResultSet="resultSet"></GraphTest>
            <p title="Total repayment amount">Total Amount:  @resultSet.TotalAmount</p>
            if (resultSet.MonthlyRepayments != null && resultSet.MonthlyRepayments.Count > 0)
            {
                <p>Total months: @resultSet.MonthlyRepayments.Count</p>
            }
            else
            {
                <p>0 months</p>
            }

            <p title="List of montlhy repayments">Monthly Repayments</p>
            <ul>
                @foreach (PaymentItem item in resultSet.PaymentItems)
                {
                    <li>@item.Year - @item.RemainingAmount</li>
                }
            </ul>
            <p>Warning Indicator: @resultSet.WarningIndicator</p>
        }
    </div>

}

@if (calcOption == 2)
{
    <p>Compare mortgages</p>

    <form title="Comparison mortgages form">
        <h5>First mortgage</h5>
        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect selection="mTypeSelect"></MortgageTypeSelect>

        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <h5>Second mortgage</h5>

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInputCompare.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect selection="mTypeSelectCompare"></MortgageTypeSelect>

        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInputCompare.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInputCompare.Deposit"></InputNumber>
        <br /><br />

        <button class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </form>

    <div title="Results display">
        @if (resultSet?.PaymentItems?.Count > 0)//First results output
        {
            <h5>First mortgage results</h5>
            <GraphTest ResultSet="resultSet"></GraphTest>
            <p title="Total repayment amount">Total Amount:  @resultSet.TotalAmount</p>
            if (resultSet.MonthlyRepayments != null && resultSet.MonthlyRepayments.Count > 0)
            {
                <p>Total months: @resultSet.MonthlyRepayments.Count</p>
            }
            else
            {
                <p>0 months</p>
            }

            <p title="List of montlhy repayments">Monthly Repayments</p>
            <ul>
                @foreach (PaymentItem item in resultSet.PaymentItems)
                {
                    <li>@item.Year - @item.RemainingAmount</li>
                }
            </ul>
            <p>Warning Indicator: @resultSet.WarningIndicator</p>
        }

        @if (resultSetCompare?.PaymentItems?.Count > 0)//Second results output

        {
            <h5>Second mortgage results</h5>
            <GraphTest ResultSetCompare="resultSetCompare"></GraphTest>
            <p title="Total repayment amount">Total Amount:  @resultSetCompare.TotalAmount</p>
            if (resultSetCompare.MonthlyRepayments != null && resultSetCompare.MonthlyRepayments.Count > 0)
            {
                <p>Total months: @resultSetCompare.MonthlyRepayments.Count</p>
            }
            else
            {
                <p>0 months</p>
            }

            <p title="List of montlhy repayments">Monthly Repayments</p>
            <ul>
                @foreach (PaymentItem item in resultSetCompare.PaymentItems)
                {
                    <li>@item.Year - @item.RemainingAmount</li>
                }
            </ul>
            <p title="Message for 3% increase in interest rate">Warning Indicator: @resultSetCompare.WarningIndicator</p>
        }
    </div>
}

@code
{

    private int calcOption = 0;
    private UserInput userInput = new();
    private UserInput userInputCompare = new();
    private MortgageType mTypeSelect = MortgageType.Standard;
    private MortgageType mTypeSelectCompare = MortgageType.Standard;
    private Results resultSet = new();
    private Results resultSetCompare = new();
    private Graph graph = new();

    private void DisplayResults()
    {
        if (calcOption == 1)
        {
            //do calc 1
            resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
        }
        else
        {
            //do calc 2
            resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
            resultSetCompare = LogicMethod.CalculateRepayments(userInputCompare, mTypeSelectCompare);
        }
        //currentCount++;
    }
}

