@page "/mortgageCalculator"
@using Mortgage_Calculator

<PageTitle>Mortgage Calculator</PageTitle>

@*<a style="font-size:x-small" href="/home">Click to go back </a>*@ 

<h2>Mortgage Calculator</h2>

<!--Navbar setup and styling-->
<nav style="width: 100%; background-color: #34495e; color: rgba(255, 255, 255, 0.5); padding: 10px; ">
    <div class="topnav" style="text-align: left;">
        <a class="nav-link" style="color:white; cursor:pointer; text-decoration:none; hover" @onclick="() => calcOption = 1">Calculate a mortgage</a>
        &nbsp
        <a class="nav-link" style="color: white; cursor: pointer; text-decoration: none" @onclick="() => calcOption = 2">Compare mortgages</a>
    </div>
    <br />
</nav>

<style>
    .nav-link {
        display: inline-block;
        border-radius: 50%; /* Make circular on hover */
        transition: all 0.3s ease; /* Smooth transition */
    }

        .nav-link:hover {
            background-color: #555;
            color: white;
            border-radius: 0;
            padding: 10px 15px;
            transform: scale(1.1); /* Slightly enlarge the link */
        }
</style>


@if (calcOption == 1)// Option for single mortgage calculation
{
    <br />
    <div title="Single mortgage form">

        <h5>Single mortgage</h5>
        <br />

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />

        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect @bind-selection="mTypeSelect"></MortgageTypeSelect>
        <br />

        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />

        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <button style="background-color:green" class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </div>

    <!-- RESULTS OUTPUT -->
    <div title="Results display">
        @if (resultSet?.PaymentItems?.Count > 0)// Results output
        {
            <br />
            <h5>Mortgage Calculation Results</h5>// Header: Mortgage Calculation results

            <!-- 1) Line chart output -->
            <div><LineChartOutput resultSet="resultSet"></LineChartOutput></div>// Line chart output

            <!-- 2) Total repayment, Capital, and Interest Only values -->

            // Calculate capital repayment
            double principle = userInput.Amount - userInput.Deposit;

            // Calculate interest repayment
            double interestRepaymentTotal = resultSet.TotalAmount - principle;
            <font style="margin-bottom:0; display: block;" size="2.5" title="Total Repayment Amount">
                Total Repayment Amount: £@resultSet.TotalAmount.ToString("N2")
            </font><!-- Total repayment amount -->

            <font style="margin-top:-2; display: block;" size="0" title="Capital Repayment Value">
                Capital repayment is £@principle.ToString("N2")
            </font><!-- Capital repayment amount -->

            @if (mTypeSelect == MortgageType.Standard)
            {
                <font style="margin-top:-2; display: block;" size="0" title="Interest Repayment Value">
                    Interest repayment is £@interestRepaymentTotal.ToString("N2")
                </font> <!-- Interest repayment amount -->
            }
            else
            {
                <font style="margin-top:-2; display: block;" size="0" title="Interest Repayment Value">
                    Interest repayment is £@principle.ToString("N2")
                </font> <!-- Interest repayment amount -->
            }

            <!-- 3) One month's repayment amount -->
            <font size="2.5" title="Monthly Repayment Value">
                Monthly Repayment Amount: £@resultSet.MonthlyRepayments[0].ToString("N2")
            </font>

            <br />
            <!-- 4) Total repayment months -->
            if (resultSet.MonthlyRepayments != null && resultSet.MonthlyRepayments.Count > 0)
            {
                <font size="2.5" title="Total repayment months">
                    Total Repayment Months: @resultSet.MonthlyRepayments.Count
                </font>
            }
            else
            {
                <font size="2.5">
                    0 months
                    </font">
                }

                <!-- 5) End of Year repayment balance -->
                <details>
                    <summary title="List of annual remaining repayments">
                        <font size="2.5">
                            Remaining amount at the end of each year of the term time -
                        </font>
                    </summary>
                    <ul>
                        @foreach (PaymentItem item in resultSet.PaymentItems)
                            {
                                if (item.Date.Month == 12)//Check if the month is December
                                {
                                    if (mTypeSelect == MortgageType.Standard)
                                    {
                                        <font size="2.5">
                                            <li>@item.Date.ToString("MM/yyyy") - £@item.RemainingAmount.ToString("N2")</li>
                                        </font>
                                    }
                                    else
                                    {
                                        <font size="2.5">
                                            <li>@item.Date.ToString("MM/yyyy") - £@principle.ToString("N2")</li>
                                        </font>
                                    }
                                }
                            }
                        </ul>
                        </details>
                        <br />

                        <!-- 6) Warning indicator of repayment increase, 3% -->
                        <div class="alert alert-warning" role="alert">
                            <p class="fs-6">
                                Warning: @resultSet.WarningIndicator
                            </p>
                        </div>
                    }
            </div>
}

@if (calcOption == 2)
{
    <div title="Comparison mortgages form">

        <br />
        <h5>Compare mortgages</h5>
        <br />

        <h6>First mortgage</h6>
        <br />

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />

        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect @bind-selection="mTypeSelect"></MortgageTypeSelect>
        <br />

        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br /><br />

        <h6>Second mortgage</h6>
        <br />

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInputCompare.Amount"></InputNumber>
        <br /><br />

        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInputCompare.Term"></InputNumber>
        <br /><br />

        <MortgageTypeSelect @bind-selection="mTypeSelectCompare"></MortgageTypeSelect>
        <br />

        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInputCompare.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInputCompare.Deposit"></InputNumber>
        <br /><br /><br />

        <button style="background-color:green" class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </div>

    <div title="Results display">
        @if (resultSet?.PaymentItems?.Count > 0)//First Results output
        {
            <br />
            <h5>Mortgage Calculation Results</h5>// Header: Mortgage Calculation results

            <!-- 1) Line chart output -->
            <div><LineChartOutput resultSet="resultSet" resultSetCompare="resultSetCompare"></LineChartOutput></div>// Line chart output

            <br />
            <h6>Mortgage 1 Results</h6>// Header: First mortgage result output

            // Calculate capital repayment
            double principle = userInput.Amount - userInput.Deposit;

            // Calculate interest repayment
            double interestRepaymentTotal = resultSet.TotalAmount - principle;

            <!-- 2) Total repayment, capital, and interest only values -->
            <font style="margin-bottom:0; display: block;" size="2.5" title="Total Repayment Amount">
                Total Repayment Amount: £@resultSet.TotalAmount.ToString("N2")
            </font><!-- Total repayment amount -->

            <font style="margin-top:-3; display: block;" size="0" title="Capital Repayment Value">
                Capital repayment is £@principle.ToString("N2")
            </font><!-- Capital repayment amount -->

            @if (mTypeSelect == MortgageType.Standard)
            {
                <font style="margin-top:-3; display: block;" size="0" title="Interest Repayment Value">
                    Interest repayment is £@interestRepaymentTotal.ToString("N2")
                </font> <!-- Interest repayment amount -->
            }
            else
            {
                <font style="margin-top:-3; display: block;" size="0" title="Interest Repayment Value">
                    Interest repayment is £@principle.ToString("N2")
                </font> <!-- Interest repayment amount -->
            }

            <!-- 3) Monthly repayment amount -->
            <font size="2.5" title="Monthly Repayment Value">
                Monthly Repayment Amount: £@resultSet.MonthlyRepayments[0].ToString("N2")
            </font>

            <br />
            <!-- 4) Total repayment months -->
            if (resultSet.MonthlyRepayments != null && resultSet.MonthlyRepayments.Count > 0)
            {
                <font size="2.5" title="Total repayment months">
                    Total Repayment Months: @resultSet.MonthlyRepayments.Count
                </font>
            }
            else
            {
                <font size="2.5">
                    0 months
                    </font">
                }

                <!-- 5) End of Year repayment balance -->
                <details>
                    <summary title="List of annual remaining repayments">
                        <font size="2.5">
                            Remaining amount at the end of each year of the term time -
                        </font>
                    </summary>
                    <ul>
                        @foreach (PaymentItem item in resultSet.PaymentItems)
                            {
                                if (item.Date.Month == 12)//Check if the month is December
                                {
                                    if (mTypeSelect == MortgageType.Standard)
                                    {
                                        <font size="2.5">
                                            <li>@item.Date.ToString("MM/yyyy") - £@item.RemainingAmount.ToString("N2")</li>
                                        </font>

                                    }
                                    else
                                    {
                                        <font size="2.5">
                                            <li>@item.Date.ToString("MM/yyyy") - £@principle.ToString("N2")</li>
                                        </font>
                                    }
                                }
                            }
                        </ul>
                        </details>
                        <br />

                        <!-- 6) Warning indicator of repayment increase, 3% -->
                        <div class="alert alert-warning" role="alert">
                            <p class="fs-6">
                                Warning: @resultSet.WarningIndicator
                            </p>
                        </div>
                    }

        <!-- SECOND RESULT OUTPUT -->
        <br />
        @if (resultSetCompare?.PaymentItems?.Count > 0)

        {
            <!-- 1) Line chart output -->

            <h6>Mortgage 2 Results</h6>// Header: Second mortgage result output

            // Calculate capital repayment
            double principle = userInputCompare.Amount - userInputCompare.Deposit;

            // Calculate interest repayment
            double interestRepaymentTotal = resultSetCompare.TotalAmount - principle;

            <!-- 2) Total repayment, capital, and interest only values -->
            <font style="margin-bottom:0; display: block;" size="2.5" title="Total Repayment Amount">
                Total Repayment Amount: £@resultSetCompare.TotalAmount.ToString("N2")
            </font><!-- Total repayment amount -->

            <font style="margin-top:-3; display: block;" size="0" title="Capital Repayment Value">
                Capital repayment is £@principle.ToString("N2")
            </font><!-- Capital repayment amount -->

            @if (mTypeSelectCompare == MortgageType.Standard)// Display Interest Rate value
            {
                <font style="margin-top:-3; display: block;" size="0" title="Interest Repayment Value">
                    Interest repayment is £@interestRepaymentTotal.ToString("N2")
                </font> <!-- Interest repayment amount -->
            }
            else
            {
                <font style="margin-top:-3; display: block;" size="0" title="Interest Repayment Value">
                    Interest repayment is £@principle.ToString("N2")
                </font> <!-- Interest repayment amount -->
            }

            <!-- 3) Monthly repayment amount -->
            <font size="2.5" title="Monthly Repayment Value">
                Monthly Repayment Amount: £@resultSetCompare.MonthlyRepayments[0].ToString("N2")
            </font>

            <br />
            <!-- 4) Total repayment months -->
            if (resultSetCompare.MonthlyRepayments != null && resultSetCompare.MonthlyRepayments.Count > 0)
            {
                <font size="2.5" title="Total repayment months">
                    Total Repayment Months: @resultSetCompare.MonthlyRepayments.Count
                </font>
            }
            else
            {
                <font size="2.5">
                    0 months
                    </font">
                }

                <!-- 5) End of Year repayment balance -->
                <details>
                    <summary title="List of annual remaining repayments">
                        <font size="2.5">
                            Remaining amount at the end of each year of the term time -
                        </font>
                    </summary>
                    <ul>
                        @foreach (PaymentItem item in resultSetCompare.PaymentItems)
                            {
                                if (item.Date.Month == 12)//Check if the month is December
                                {
                                    if (mTypeSelectCompare == MortgageType.Standard)
                                    {
                                        <font size="2.5">
                                            <li>@item.Date.ToString("MM/yyyy") - £@item.RemainingAmount.ToString("N2")</li>
                                        </font>
                                    }
                                    else
                                    {
                                        <font size="2.5">
                                            <li>@item.Date.ToString("MM/yyyy") - £@principle.ToString("N2")</li>
                                        </font>
                                    }
                                }
                            }
                        </ul>
                        </details>
                        <br />

                        <!-- 6) Warning indicator of repayment increase, 3% -->
                        <div class="alert alert-warning" role="alert">
                            <p class="fs-6">
                                Warning: @resultSetCompare.WarningIndicator
                            </p>
                        </div>
                    }
    </div>
}

@code
{

    private int calcOption = 0;
    private UserInput userInput = new();
    private UserInput userInputCompare = new();
    private MortgageType mTypeSelect = MortgageType.Standard;
    private MortgageType mTypeSelectCompare = MortgageType.Standard;
    private Results resultSet = new();
    private Results resultSetCompare = new();
    private Graph graph = new();

    private void DisplayResults()
    {
        if (calcOption == 1)
        {
            //do calc 1
            resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
        }
        else
        {
            //do calc 2
            resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
            resultSetCompare = LogicMethod.CalculateRepayments(userInputCompare, mTypeSelectCompare);
        }
    }
}

